.robot {
    width: 300px;
    height: 300px;
    background: silver;
    border: 8px solid black;
    border-radius: 20px;
    position: relative;
    margin: 40px auto;
}

.robot-eye {
    width: 60px;
    height: 60px;
    background: yellow;
    border: 5px solid black;
    border-radius: 50%;
    position: absolute;
    top: 80px;
}
.left { left: 50px; }
.right { right: 50px; }

.robot-mouth {
    width: 180px;
    height: 50px;
    border: 5px solid black;
    position: absolute;
    bottom: 60px;
    left: 60px;
    border-radius: 10px;
    background: linear-gradient(to right, black 10%, transparent 10%) repeat-x;
    background-size: 20px 100%;
}
